<app-autocomplete [list]="clients" [inputName]="'clientes'" [listName]="'listClient'" [labelName]="'Cliente: '" (changeObject)="onChangeClient($event)"></app-autocomplete>
<div class="result">
    <p *ngIf="selectedClient">Cliente Selecionado: {{selectedClient.nome}}</p>
</div>

<hr>

<app-autocomplete [list]="foods" [inputName]="'comidas'" [listName]="'listFood'" [labelName]="'Comidas: '" (changeObject)="onChangeFood($event)"></app-autocomplete>
<div class="result">
    <p *ngIf="selectedFood">Comida Selecionada: {{selectedFood.nome}}</p>
</div>